.user-profile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .user-info-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .user-login-names-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .user-names {
        font-size: 2rem;
      }

      .user-email {
        font-size: 1.2rem;
      }
    }

    .profile-addresses-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1.5rem;

      .address-container-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        .address-heading {
          font-size: 1.3rem;
          text-align: center;
        }
        .add-address-btn {
          padding: 0;
          height: 3rem;
          width: 15rem;
          font-size: 1.3rem;
          cursor: pointer;
        }
        .user-adresses-list {
          list-style-type: none;
          display: flex;
          gap: 0.5rem;
          align-items: center;
          flex-direction: column;

          .user-address {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: #5a6566;
            svg {
              color: #000000;
              align-self: center;
            }
            .edit-address {
              width: 50px;
              height: 100%;
              font-size: 1.3rem;
              border-radius: 0.5rem;
              padding: 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .edit-profile-btns-container {
    display: flex;
    gap: 0.5rem;
    height: 100%;

    .edit-info-btn {
      height: 3.8rem;
      font-size: 1.3rem;
      gap: 0.5rem;
      padding: 0;

      border-radius: 0.8rem;
      cursor: pointer;

      svg {
        margin-top: 0.2rem;
        width: 1.2em;
        height: 1.2em;
      }
    }
  }

  .personal-info-form,
  .change-address-form {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    gap: 1rem 0.5rem;

    p {
      text-align: center;
      font-size: 1.3rem;
    }

    input {
      text-align: center;
      background-color: aliceblue;
    }
    .confirm-btn,
    .cancel-btn {
      height: 4.5rem;
      gap: 0.5rem;
      font-size: 1.3rem;
      cursor: pointer;
    }

    .confirm-btn {
      justify-self: end;
    }
    .cancel-btn {
      justify-self: start;
    }
  }

  .hidden {
    display: none;
  }
}

// @media only screen and (max-width: 768px) {
//   .user-profile-container {
//     .right-buttons {
//       display: none;
//     }

//     .top-buttons {
//       margin-top: 1rem;
//       display: flex;
//     }
//   }
// }
