.span {
  color: inherit;
  font-family: var(--font-family-body);
  font-size: var(--font-size-sm);
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: normal;
}

.span--error {
  color: var(--color-danger);
}
