.heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 0;
}

.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
}

.h2 {
  font-size: 48px;
  font-weight: 700;
}

.h3 {
  font-size: 40px;
  font-weight: 700;
}
